<!doctype html>
<head>
  <title>Cody Romano - Blog</title>
  <link rel="stylesheet" href="/blog/static/layout.css"/>
  <link rel="stylesheet" href="/blog/static/typography.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8"/>
</head>
<body>
  <main class="primary">
    <%- markdownFile.parseContent() %>
  </main>
</body>
</html>